<h2>Bienvenido {{first_name}} {{last_name}}</h2>
<h2>Email: {{email}}</h2>
<h2>Rol: {{rol}}</h2>
<h3>Products</h3>
<div  class="div-list-products">
  <ul>
    {{#each products}}
      <li  class="list-products">
          <span> <b>{{this.title}}</b> </span>
          - <span> Price: ${{this.price}} </span>
          - <span> Stock: {{this.stock}} </span>
          - <span> Category: {{this.category}} </span>
          - <button data-product-id={{this._id}} data-cart-id="65b528f9297792a89d34ff12" onclick="addProductToCart(this)">Add to cart</button>
      </li>
    {{/each}}
  </ul>

  <ul>
    Page
    {{#each pages}}
      <a href="http://localhost:8080/views/products?page={{this}}"><button>{{this}}</button></a>
    {{/each}}
  </ul>
</div>

<a href="http://localhost:8080/views/carts/65b528f9297792a89d34ff12" class="buttom-cart"><button>Go to cart</button></a>
<a href="http://localhost:8080/views/logout" class="buttom-logout"><button>Logout</button></a>
<script src="/js/addButtom.js"></script>
